@model Users

@{
    ViewData["Title"] = "UserInformation";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
<br />
<br />
<br />
<br />
<h2>UserInformation</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name Surname</td>
            <td>:</td>
            <td>@Model.Name&nbsp;@Model.Surname</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>User name</td>
            <td>:</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>Adress</td>
            <td>:</td>
            <td>@Model.Adress</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Register Date</td>
            <td>:</td>
            <td>@Model.RegisterDate</td>
        </tr>
    </tbody>
</table>